html{
  box-sizing: border-box;
}

*,
*::backdrop,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  border: none; 
  outline: none
}

:root{
  --index: calc(1vw + 1vh);
}

body{
  font-family: 'Rubik', sans-serif;
  color: #767877;
  overflow-x: hidden;
}

.header__content{
  padding: 30px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.container{
  max-width: 1340px;  
  margin: 0 auto;  
  padding: 0 20px;
}

.navigation__list{
  display: flex;
  gap: 36px;
}

.navigation__list-link{
  color: #222326;
  opacity: 0.8;
  transition: all 0.2s linear;
  font-size: calc(var(--index)/1.2);
}

.navigation__list-link::before{
  margin-left: auto;
}

.navigation__list-link::after,
.navigation__list-link::before{
  content: '';
  width: 0%;
  height: 1px;
  background-color: #1F6BFF;
  display: block;
  transition: 0.5s;
}

.navigation__list-link:hover::after, .navigation__list-link:hover::before{
  width: 100%;
}

.navigation__list-link--active{
  color: #222326;
  font-weight: 600;
}

.header__phone{
  display: flex;
  align-items: center;
  color: #000;
}

.header__phone-info{
  margin-left: 12px;
}

.header__phone-call{
  margin-bottom: 7px;
}

.cleaning{
  height: 90vh;
  background-color: #DBEBF8;
  padding-top: 17px;
  margin-bottom: 120px;
}

.cleaning__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cleaning__info{
  width: 60%;
}

.cleaning__title{
  margin-bottom: 60px;
}

.cleaning__suptitle{
  font-size: calc(var(--index)*3.8);
  font-family: 'Outfit', sans-serif;
  line-height: 1.2;
  font-weight: 700;
  color: #050931;
  margin-bottom: 22px;
}

.cleaning__text{
  font-size: calc(var(--index)*1.1);
  line-height: 1.2;
  width: 85%;
  margin-bottom: 48px;
}

.cleaning__btn{
  font-size: calc(var(--index)*0.9);
  font-weight: 500;
  color: #fff;
  background-color: #1F6BFF;
  padding: 18px 40px;
  border-radius: 4px;
  transition: all 0.2s linear;

  
}

.cleaning__btn:hover{
  transform: scale(1.02);
  background-color: #0D4FD0;
}

.cleaning__btn:active{
  transform: scale(0.98);
}

.cleaning__illustration-wrapper{
  width: 43.86%;
}

.cleaning__illustration-img{
  width: 100%;
}

.cleaning__statistic-list{
  display: flex;
  gap: 60px;
}

.cleaning__statistic-count{
  font-size: calc(var(--index)*1.9);
  font-weight: 700;
  color: #050931;
  margin-bottom: 12px;
}

.cleaning__statistic-text{
  font-size: calc(var(--index)*0.85);
  font-weight: 400;
  color: #647685;
}