html{
  box-sizing: border-box;
}

*,
*::backdrop,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  border: none; 
  outline: none
}

:root{
  --index: calc(1vw + 1vh);
}

::-webkit-scrollbar {
  width: 9px; /* ширина для вертикального скролла */
  height: auto; /* высота для горизонтального скролла */
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #1F6BFF;
  border-radius: 10px;
}

body{
  font-family: 'Rubik', sans-serif;
  color: #767877;
  overflow-x: hidden;
}

.container{
  width: 100%;
  max-width: 1300px;  
  margin: 0 auto;  
  padding: 0 20px;
}

.header{
  padding: 30px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}


.navigation__list{
  display: flex;
  gap: 36px;
}

.navigation__link{
  color: #222326;
  opacity: 0.8;
  transition: all 0.2s linear;
  font-size: calc(var(--index)/1.2);
}

.navigation__link::before{
  margin-left: auto;
}

.navigation__link::after,
.navigation__link::before{
  content: '';
  width: 0%;
  height: 1px;
  background-color: #1F6BFF;
  display: block;
  transition: 0.5s;
}

.navigation__link:hover::after, .navigation__link:hover::before{
  width: 100%;
}

.navigation__link--active{
  color: #222326;
  font-weight: 600;
}

.header__phone{
  display: flex;
  align-items: center;
  color: #000;
}

.phone-info{
  margin-left: 12px;
}

.phone-info__call{
  margin-bottom: 7px;
}

.cleaning{
  height: 90vh;
  background-color: #DBEBF8;
  padding-top: 17px;
  margin-bottom: 120px;
}

.cleaning__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cleaning__info{
  width: 60%;
}

.cleaning__title{
  margin-bottom: 60px;
}

.cleaning__suptitle{
  font-size: calc(var(--index)*3.8);
  font-family: 'Outfit', sans-serif;
  line-height: 1.2;
  font-weight: 700;
  color: #050931;
  margin-bottom: 22px;
}

.cleaning__subtitle{
  font-size: calc(var(--index)*1.1);
  line-height: 1.2;
  width: 85%;
  margin-bottom: 48px;
}

.button{
  font-size: calc(var(--index)*0.9);
  font-weight: 500;
  color: #fff;
  background-color: #1F6BFF;
  padding: 18px 40px;
  border-radius: 4px;
  transition: all 0.2s linear;  
}

.button:hover{
  transform: scale(1.02);
  background-color: #0D4FD0;
}

.button:active{
  transform: scale(0.98);
}

.statistic__list{
  display: flex;
  gap: 60px;
}

.statistic__count{
  font-size: calc(var(--index)*1.9);
  font-weight: 700;
  color: #050931;
  margin-bottom: 12px;
}

.statistic__text{
  font-size: calc(var(--index)*0.85);
  font-weight: 400;
  color: #647685;
}

.illustration-wrapper{
  width: 43.86%;
}

.section-illustration{
  width: 100%;
}

.section__title{
  width: 50%;
}

.section__subject{
  display: inline-block;
  text-align: center;
  font-weight: 500;
  color: #050931;
  font-size: calc(var(--index)*0.9);
  margin-bottom: 18px;
}

.subject-icon{
  display: block;
  margin: auto;
}

.section__suptitle{
  font-size: calc(var(--index)*2.5);
  color: #050931;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

.section__subtitle{
  color: #647685;
  line-height: 1.4;
  margin-bottom: 48px;
}

.section__subtitle span {
  font-weight: 600;
}

.subtitle__link{
  color: #FE6B01;
  font-weight: 600;
  text-decoration: underline;
}

.section__subtitle-first{
  margin-bottom: 20px;
}

.about{
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.about__suptitle, .about__subtitle{
  width: 80%;
}

.about__illustration-wrapper{
  position: relative;
}

.about__illustration-wrapper::before{
  position: absolute;
  content: '';
  background-image: url(../pictures/illustrations/shape.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 155px;
  height: 160px;
  bottom: 5%;
  right: -5%;
  z-index: -1;
}

.servise{
  position: relative;
  background-color: #F4F9FD;
  padding: 120px 0;
}

.servise::before{
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  background-image: url(../pictures/illustrations/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: -3%;
  top: 0;
}

.servise .section__title{
  width: 100%;
  text-align: center;
}

.servise__suptitle, .servise__subtitle{
  width: 48%;
  margin: 0 auto;
}

.servise__subtitle{  
  margin-bottom: 20px;
}

.service__list{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  margin: 80px 0 60px 0;
}

.service__item{
  width: 33%;
  padding: 32px;
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.service__item:hover{
  border: 1px solid #E3E3E3;
  transform: scale(1.03);
}

.service__item-subject{
  color: #1B1E1C;
  margin-bottom: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: calc(var(--index)*1.5);
}

.service__item-suptitle{
  line-height: 1.4;
  margin-bottom: 40px;
}

.service__button{
  display: flex;
  margin: 0 auto;
}

.wework{
  position: relative;
  margin-bottom: 120px;
}

.wework::before{
  content: '';
  position: absolute;
  background: url(../pictures/illustrations/shape.png);
  width: 220px;
  height: 220px;
  right: -10%;
  top: -34%;
  z-index: -1;
}

.wework__title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.wework__suptitle{
  width: 70%;
}

.wework__subtitle{
  width: 35%;
}

.process__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process__item{
  width: 24%;
  padding: 23px;
  text-align: center;
  line-height: 1.2;
}

.process__item:nth-child(1){
  border-left: 1px solid #FF8345;
}

.process__item:nth-child(2){
  border-left: 1px solid #1F6BFF;
}

.process__item:nth-child(3){
  border-left: 1px solid #FFCA45;
}

.process__item:nth-child(4){
  border-left: 1px solid #37D348;;
}

.process__subject{
  font-size: calc(var(--index) * 1.1);
  color: #1B1E1C;
  font-weight: 700;
  margin: 40px 0 16px 0;
}